@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
}

a:hover, a:active, a:visited {
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.5;
}

img {
  width: 100%;
}

.title {
  font-weight: 700;
}

.disabled {
  background-color: #858585 !important;
  cursor: no-drop !important;
}

.pointer {
  cursor: pointer;
}

.font-sm {
  font-size: 0.8rem;
}

.font-reg {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.2rem;
}

.font-xl {
  font-size: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .tablet {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .desktop {
    display: none;
  }
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .container {
    width: 96%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 1620px) {
  .container {
    width: 75%;
  }
}
header {
  display: flex;
  justify-content: flex-end;
}
header a {
  text-decoration: none;
  color: black;
  padding-left: 1rem;
}
header a:active, header a:visited {
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 12px 32px 0px #ffffff, 0 5px 3px -3px rgba(0, 0, 0, 0.43);
}
nav .nav-left {
  display: flex;
  align-items: center;
}
nav .nav-left ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}
nav .nav-left ul .brand-logo {
  width: 10rem;
}
nav .nav-left ul .nav-desktop {
  padding-left: 2rem;
}
nav .nav-right {
  display: flex;
  align-self: center;
  cursor: pointer;
  background-color: rgba(177, 177, 177, 0.575);
  padding: 1.5rem 2rem;
}
nav .nav-right .cart-logo {
  width: 1.5rem;
  color: red;
  padding-right: 0.5rem;
}

@media screen and (max-width: 576px) {
  header {
    display: none;
  }

  nav .nav-left ul .brand-logo {
    width: 80px;
  }
  nav .nav-left ul .nav-desktop {
    display: none;
  }
  nav .nav-right {
    padding: 1rem;
  }
}
footer {
  padding: 0.5rem;
  background-color: #dddddd;
}

#overlay {
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.322);
  pointer-events: none;
  padding-right: 12.5%;
  display: flex;
  justify-content: flex-end;
}
#overlay #modal {
  margin-top: 104px;
  width: 30%;
  position: relative;
  background-color: #ffffff;
  background-color: #dddddd;
  overflow-y: scroll;
}
#overlay #modal .modal-top {
  top: 0;
  z-index: 20;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #000000;
  color: #ffffff;
}
#overlay #modal .modal-top button {
  border: none;
  outline: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
}
#overlay #modal .modal-mid {
  min-height: calc(100vh - 280px);
}
#overlay #modal .modal-mid .modal-cart-items {
  background-color: #dddddd;
}
#overlay #modal .modal-mid .modal-cart-items .cart-item {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  margin-top: 0.5rem;
  background-color: #ffffff;
}
#overlay #modal .modal-mid .modal-cart-items .cart-item .item-img-container {
  flex: 1;
}
#overlay #modal .modal-mid .modal-cart-items .cart-item .item-img-container img {
  width: 100%;
}
#overlay #modal .modal-mid .modal-cart-items .cart-item .cart-item-details {
  flex: 5;
}
#overlay #modal .modal-mid .modal-cart-items .cart-item .cart-item-details .item-calculation {
  display: flex;
  justify-content: space-between;
}
#overlay #modal .modal-mid .modal-cart-items .cart-item .cart-item-details .item-calculation .item-count .btn-circle {
  border-radius: 50%;
  border: none;
  background-color: #b90404;
  color: #ffffff;
  cursor: pointer;
}
#overlay #modal .modal-mid .assurance-banner {
  background-color: #ffffff;
  margin: 0.8rem 0.8rem 1rem 0.8rem;
  padding: 0.5rem;
  display: flex;
}
#overlay #modal .modal-mid .assurance-banner .banner-img-container {
  flex: 2;
  display: flex;
  align-items: center;
}
#overlay #modal .modal-mid .assurance-banner p {
  flex: 5;
  padding-left: 0.8rem;
}
#overlay #modal .modal-bottom {
  bottom: 0;
  z-index: 20;
  position: sticky;
  width: 100%;
  background-color: #ffffff;
  padding: 0.8rem;
}
#overlay #modal .modal-bottom p {
  text-align: center;
}
#overlay #modal .modal-bottom .checkout-btn {
  background-color: #b90404;
  outline: none;
  border: none;
  color: #ffffff;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.8rem;
}

#overlay.active {
  opacity: 100%;
  pointer-events: all;
}

main {
  display: flex;
}
main #product-categories {
  height: 100vh;
  position: sticky;
  top: 0px;
  flex: 0 0 20%;
  background-color: #c9c9c9;
}
main #product-categories .category-item {
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.678);
}
main #product-list {
  flex: 0 0 80%;
  padding: 2rem;
}
main #product-list .product-row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .product-card {
    flex: 0 0 23%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed #cacaca;
  }
}
.card-title {
  margin-bottom: auto;
  text-overflow: ellipsis;
  height: 5.7rem;
  max-height: 5.7rem;
  overflow: hidden;
}

.card-img {
  width: 100%;
}

.card-desc {
  margin-top: 1rem;
  background-color: #a3a3a3;
  text-overflow: ellipsis;
  height: 4.8rem;
  max-height: 4.8rem;
  overflow: hidden;
  line-height: 1.35;
  padding: 0.5rem;
}

.card-bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.card-bottom button {
  border: none;
  padding: 0.8rem 1.5rem;
  color: #ffffff;
  background-color: #b90404;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  #overlay {
    padding: 0;
  }
  #overlay #modal {
    margin: 0;
    width: 100%;
  }
  #overlay #modal .modal-mid {
    min-height: calc(100vh - 95px);
  }

  main #product-list {
    padding: 0.5rem;
  }

  .product-card {
    padding: 0.5rem;
  }
  .product-card .card-title {
    margin-bottom: auto;
    text-overflow: ellipsis;
    height: 1.5rem;
    max-height: 1.5rem;
    font-size: 1rem;
    overflow: hidden;
  }
  .product-card .card-img-desc {
    display: flex;
  }
  .product-card .card-img-desc .card-img-container {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
  }
  .product-card .card-img-desc .card-desc {
    flex: 0 0 60%;
  }
  .product-card .card-bottom .tablet {
    display: block;
    width: 100%;
  }

  .md-6 {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 576px) {
  main #product-categories {
    display: none;
  }
  main #product-list {
    flex: 0 0 100%;
  }

  .product-card .card-title {
    margin-bottom: 0.5rem;
  }
  .product-card .card-img-desc .card-img-container {
    flex: 0 0 25%;
  }
  .product-card .card-img-desc .card-desc {
    flex: 0 0 75%;
    margin: 0;
  }
  .product-card .card-bottom {
    padding: 0.5rem 0;
  }

  .sm-12 {
    flex: 0 0 100%;
  }
}

/*# sourceMappingURL=products.css.map */
